<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <u><h1>Edit Comment</h1></u>

  <%= form_with model:[@tweet, @comment] do |f| %>
      <div class ="field">
        <%= f.text_field :content %>
      </div>
      <br>
      <div class ="actions">
        <%= f.submit '更新する' %>
      </div>
    <% end %>
</body>