<h1>コメント編集</h1>

<%= form_for [@tweet, @comment] do |f| %>
    <div class ="field">
      <%= f.text_field :content %>
    </div>
    <br>
    <div class ="actions">
      <%= f.submit '更新する' %>
    </div>
<% end %>
  
