<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <h1>New Post</h1>

  <%= form_for @tweet do |f| %>
    <p>
      <%= f.label :body,"tweet" %>
      <%= f.text_field :body %>
    </p>
    <%= f.submit 'submit' %>
  <% end %>
</body>