
body {
  background-color: #bad4de;
  font-family: 'Pangolin', cursive;
  color: #6289a4;
  font-size: 22px;
      }

h1 {
  font-size: 50px;
    }

.main-nav {
  display: flex;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
          }

.main-nav li {
  margin-left: 40px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}

.page-header {
  display: flex;
  justify-content: space-between;
}
