// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #bad4de;
  font-family: 'Pangolin', cursive;
  color: #6289a4;
  font-size: 22px;
      h1 {
          font-size: 50px;
          }
      }